@model QLTV2._0.Models.Tacgia

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<h3>Bạn có chắc muốn xóa?</h3>

    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdTacgia" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
