@model IEnumerable<QLTV2._0.Models.Tacgia>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



<p>
    <a asp-action="Create">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Tên tác giả
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tentacgia)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTacgia">Chỉnh sửa</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTacgia">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
