@model IEnumerable<QLTV2._0.Models.Chitiettacgia>

@{
    ViewData["Title"] = "Chi Tiết Tác Giả";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID Tác Giả
            </th>
            <th>
                Quản lý tác giả
            </th>
            <th>
                Quản lý sách tác giả
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdTacgiaNavigation.IdTacgia)
            </td>
             <td>
                <a asp-area="Admin" asp-controller="TacGia" asp-action="Edit" asp-route-id="@item.IdTacgiaNavigation.IdTacgia">@item.IdTacgiaNavigation.Tentacgia</a>
            </td>
            <td>
                <a asp-area="Admin" asp-controller="ChiTietTacGia" asp-action="Details" asp-route-id="@item.IdTacgiaNavigation.IdTacgia">Xem sách của tác giả này</a>
            </td>
        </tr>
}
    </tbody>
</table>
