@model int 
@{
    var data = Model;
    var test = data;
}
<a href="~/cart" class="btn border" id="cart_icon">
                    <i class="fas fa-shopping-cart text-primary"></i>
                    <span class="badge" id="badge">0</span>
          </a>
