@model QLTV2._0.Models.Sach

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<p>Bạn có chắc muốn xóa</p>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Masach" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
