@model QLTV2._0.Models.Phieunhap

@{
    ViewData["Title"] = "Tạo phiếu nhập";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Maphieunhap" class="control-label">Mã phiếu nhập</label>
                <input asp-for="Maphieunhap" class="form-control" />
                <span asp-validation-for="Maphieunhap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soluongnhap" class="control-label">Số lượng nhập</label>
                <input asp-for="Soluongnhap" class="form-control" />
                <span asp-validation-for="Soluongnhap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gianhap" class="control-label">Giá nhập</label>
                <input asp-for="Gianhap" class="form-control" />
                <span asp-validation-for="Gianhap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

