@model QLTV2._0.Models.Phieunhap

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Bạn có chắc muốn xóa PHIẾU NHẬP này</h3>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Maphieunhap" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Trở lại</a>
    </form>
</div>
